<br/>
<div class="alert alert-warning" ng-show="errorMsg">
    <strong>{{errorBold}}  </strong>{{errorMsg}}
</div>
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Forgot password</h2>
        <input type="email" ng-model="authForm.forgotPasswordForm.emailAddress" placeholder="Email address" class="form-control"/><br/>
        <button id="login" ng-click="forgotPassword()" class="btn btn-lg btn-primary btn-block">Reset</button>
    </form>
</div>
<hr class="featurette-divider"/>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-6">
            <h2>Create an account</h2>
            <p>Do not have an account?  <a href="#createAccount">Create one!</a></p>
        </div>
        <div class="col-lg-6">
            <h2>Epiphany!</h2>
            <p>Dude, I know my passord!  Then <a href="#login">login in, my friend!</a></p>
        </div>
    </div>
</div>