<br/>
<div class="alert alert-warning" ng-show="errorMsg">
    <strong>{{errorBold}}  </strong>{{errorMsg}}
</div>
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Forgot password</h2>
        <input type="email" ng-model="authForm.forgotPasswordForm.emailAddress" placeholder="Email address" class="form-control"/><br/>
        <button id="login" ng-click="forgotPassword()" class="btn btn-lg btn-primary btn-block">Reset</button>
    </form>
</div>
<hr />
<p>Do not have an account?  <a href="#createAccount">Create one!</a></p>
<p>Remembered your password after all?  <a href="#login">Login in!</a></p>