<br/>
<div class="alert alert-warning" ng-show="errorMsg">
    <strong>{{errorBold}}  </strong>{{errorMsg}}
</div>
<div class="container">
    <form class="form-create">
        <h2 class="form-create-heading">Create an account</h2>
        <input type="email" ng-model="authForm.createAccountForm.emailAddress" placeholder="Email address" class="form-control"/>
        <input type="text" ng-model="authForm.createAccountForm.alias" placeholder="Alias" class="form-control"/>
        <input type="password" ng-model="authForm.createAccountForm.password" placeholder="password" class="form-control"/>
        <input id="confirmPassword" type="password" ng-model="authForm.createAccountForm.confirmPassword" placeholder="Confirm password" class="form-control"/><br/>
        <button id="create" ng-click="createAccount()" class="btn btn-lg btn-primary btn-block">Create Account</button>
    </form>
</div>
<hr/>
<p>I remember, I have a <a href="#login">login!</a></p>
<p>I remember, I have a login but I <a href="#login">forgot it!</a></p>