.errors {
    background-color:#FFCCCC;
    border:1px solid #CC0000;
    width:400px;
    margin-bottom:8px;
}
.errors li{
    list-style: none;
}
.titlediv {
    padding: 10px 40px;
    border:2px solid #525252;
    border-radius:25px;
    background:#dddddd;
    width:300px;
    box-shadow: 10px 10px 5px #888888;
}
.mainbody {
    background:#dddddd;
}
.buttonauth {
    -moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;
    box-shadow:inset 0px 1px 0px 0px #e184f3;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd) );
    background:-moz-linear-gradient( center top, #c123de 5%, #a20dbd 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd');
    background-color:#c123de;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #a511c0;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:131px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #9b14b3;
}
.buttonauth:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de) );
    background:-moz-linear-gradient( center top, #a20dbd 5%, #c123de 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de');
    background-color:#a20dbd;
}
.buttonauth:active {
     position:relative;
     top:1px;
}
.msgbold {
    margin: 0 0 20px 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    width: 776px;
}

.msgtext {
    font-size: 14px;
    line-height: 18px;
    width: 776px;
}

.box-options {
    width: 955px;
    margin: 20px 0 20px -20px;
}

.box-options ul.box li.first {
    display: inline;
    float: left;
    width: 440px;
    min-height: 350px;
    padding: 5px;
    border-right: 1px solid #691178;
    border-bottom: 1px solid #691178;
    background: #777777;
}

.box-options ul.box li.last {
    display: inline;
    float: right;
    width: 440px;
    min-height: 350px;
    padding: 5px;
    border-right: 1px solid #691178;
    border-bottom: 1px solid #691178;
    background: #777777;
}

.label {
    color: #FFF;
    font-size: 75%;
}

body {
    min-height: 2000px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-create {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-create .form-create-heading,
.form-create .checkbox {
    margin-bottom: 10px;
}
.form-create .checkbox {
    font-weight: normal;
}
.form-create .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-create .form-control:focus {
    z-index: 2;
}
.form-create input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-create input[type="text"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-create input[id="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-create input[id="confirmPassword"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.featurette-divider {
    margin: 15px 0; /* Space out the Bootstrap <hr> more */
}

.marketing .col-lg-6 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-6 p {
    margin-right: 10px;
    margin-left: 10px;
}




