<br/>
<div class="alert alert-warning" ng-show="errorMsg">
    <strong>{{errorBold}}  </strong>{{errorMsg}}
</div>
<div class="alert alert-success" ng-show="msg">
    <strong>{{msgBold}}  </strong>{{msg}}
</div>
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" ng-model="authForm.loginForm.emailAddress" placeholder="Email address" class="form-control"/>
        <input type="password" ng-model="authForm.loginForm.password" placeholder="password" class="form-control"/><br/>
        <button id="login" ng-click="login()" class="btn btn-lg btn-primary btn-block">Login</button>
    </form>
</div>
<hr />
<p>Do not have an account?  <a href="#createAccount">Create one!</a></p>
<p>Forgot your password?  <a href="#forgotPassword">Reset it!</a></p>