<div id="titlebox" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">Cards</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#selectGame">Games Selection</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="alert alert-warning" ng-show="errorMsg">
    <strong>{{errorBold}}  </strong>{{errorMsg}}
</div>
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Create a game</h2>
        <input type="text" ng-model="createGameRequest.gameModel.gameName" placeholder="Game Name" class="form-control"/>
        <input type="text" ng-model="createGameRequest.gameModel.gamePassword" placeholder="Game Password(optional)" class="form-control"/><br/>
        <button id="gameCreate" ng-click="createGame()" class="btn btn-lg btn-primary btn-block">Create Game</button>
    </form>
</div>
<hr class="featurette-divider"/>
<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <h2>Choose a different game</h2>
            <p>Bored of Golf?  <a href="#selectGame">Try something else!</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Join a game</h2>
            <p>Meet some new friends!  <a href="#joinGolf">Join a game waiting for players!</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Your games in progress</h2>
            <p>Check on your games or play a turn!  <a href="#placeHolder">It's ok, I won't tell!</a></p>
        </div>
    </div>
</div>