<br/>
<div class="alert alert-warning" ng-show="errorMsg">
    <strong>{{errorBold}}  </strong>{{errorMsg}}
</div>
<div class="container">
    <form class="form-create">
        <h2 class="form-create-heading">Reset password</h2>
        <input type="email" ng-model="authForm.resetPasswordForm.emailAddress" placeholder="Email address" class="form-control"/>
        <input type="text" ng-model="authForm.resetPasswordForm.securityCode" placeholder="Emailed code" class="form-control"/>
        <input id="password" type="password" ng-model="authForm.resetPasswordForm.password" placeholder="Password" class="form-control"/>
        <input id="confirmPassword" type="password" ng-model="authForm.resetPasswordForm.confirmPassword" placeholder="Confirm password" class="form-control"/><br/>
        <button id="resetPassword" ng-click="resetPassword()" class="btn btn-lg btn-primary btn-block">Change Password</button>
    </form>
</div>